.banner {
    height: 300px;
    align-items: stretch;
    justify-content: center;
}

.banner-image {
    height: 300px;
    background-size: cover;
}

.banner-text {
    font-family: "Spectral-Bold";
    text-align: start;
    align-self: center;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
}

.banner-text-inverted {
    font-family: "Spectral-Light";
    text-align: end;
    align-self: center;
    font-size: 16px;
    line-height: 25px;
    z-index: 0;
}

.banner-text-title {
    font-family: "Averia-Bold";
    /* margin-left: -24%; */
    font-size: 40px;
    font-weight: 800;
    line-height: 66px;
    letter-spacing: 0.05em;
    color: #463950;
    padding: 2px;
}

.banner-text-title-inverted {
    font-family: "Averia-Bold";
    /* margin-right: -24%; */
    font-weight: 800;
    font-size: 40px;
    line-height: 66px;
    letter-spacing: 0.05em;
    padding: 2px;
    z-index: 10;
}

.banner-text-light {
    font-family: "Spectral-ExtraLight";
    text-align: start;
    align-self: center;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
}

.banner-text-subtitle {
    font-family: "Spectral-Bold";
    font-size: 16px;
    line-height: 25px;
}

.pink-banner {
    font-family: "Averia-Bold";
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #463950;
    padding: 2px;
    color: #dc5078;
    font-weight: bold;
}

.contact-button {
    font-family: "Averia-Bold";
    /* margin-right: -24% !important; */
    background-color: #dc5078 !important;
    border-radius: 0% !important;
    border-color: #dc5078 !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 20px !important;
    width: 216px;
    height: 50px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;
}

@media only screen and (max-width: 767px) {
    .banner {
        height: 600px;
        align-items: center;
        justify-content: center;
    }

    .banner-text {
        text-align: start;
        align-self: center;
        font-size: 12px;
        line-height: 16px;
    }
    
    .banner-text-title {
        margin-left: 0;
        font-size: 30px;
        font-weight: 800;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #463950;
        padding: 2px;
    }

    .banner-text-title-inverted {
        margin-right: 0;
        font-size: 30px;
        font-weight: 800;
        line-height: 35px;
        letter-spacing: 0.05em;
        padding: 2px;
        z-index: 10;
    }
}
