.drop-title {
    pointer-events: none;
}

.dropdown-toggle::after {
    display: none !important;
}

.app-date-picker {
    margin: 0 8px 12px 8px !important;
}

.drop-menu {
    font-family: "Spectral-Light";
    font-size: 16px !important;
    line-height: 30px !important;
}