.full-height-img {
    height: 480px;
    margin: 0 20px;
    background-size: cover;
}

.linked-icon {
    align-self: flex-start;
    text-align: start;
    padding: 25px;
    /* font-family: Mukta; */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #463950;
}
