div.header {
  max-width: 100%;
  margin: 0 18px;
}

.footerLinks {
  max-height: 80px;
}

.fullHeight {
  height: 581px;
  background-color: #eae8ee;
  text-align: center;
  align-content: center;
  background-size: cover;
}

.standardDiv {
  height: 480px;
  background-color: #eae8ee;
  text-align: center;
  align-content: center;
}

.title-bold {
  font-family: "Averia-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 110px;
  line-height: 136px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #463950;
  overflow-wrap: break-word;
}

.title-light {
  font-family: "Averia-Light";
  font-style: normal;
  font-weight: 100;
  font-size: 110px;
  line-height: 136px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #46395088;
  overflow-wrap: break-word;
}

.subtitle {
  font-family: "Spectral-Italic";
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #525252;
}

.icons {
  padding: 0 !important;
}

.continuousTitle {
  font-family: "Spectral-Light";
  margin-top: -50px !important;
  font-style: normal;
  font-weight: 300;
  font-size: 130px;
  line-height: 198px;
  letter-spacing: 0.05em;
  color: rgba(127, 57, 156, 0.71);
}

.continuousSubtitle {
  font-family: "Averia-Bold";
  margin-bottom: -100px;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 125px;
  letter-spacing: 0.1em;
  color: #5090dc;
}

.card-left {
  width: 100%;
  /* height: 50vw; */
  padding: 0 20px 40px 0;
}

.card-right {
  width: 100%;
  height: 50vw;
  padding: 0 0 40px 20px;
}

.book-card-left {
  width: 100%;
  height: 40vw;
  padding: 0 20px 40px 0;
}

.book-card-right {
  width: 100%;
  height: 40vw;
  padding: 0 0 40px 20px;
}

.search-button {
  font-family: "Averia-Bold";
  background-color: #463950 !important;
  border-radius: 0% !important;
  border-color: #463950 !important;
  font-style: normal;
  font-weight: bold !important;
  font-size: 20px !important;
  width: 216px;
  height: 50px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 8px;
}

@media only screen and (max-width: 767px) {
  .standardDiv {
    justify-content: start;
    height: 960px;
    background-color: #eae8ee;
    text-align: center;
    align-content: center;
  }

  .card-right {
    width: 100%;
    height: 75vw;
    padding: 5px;
  }

  .card-left {
    width: 100%;
    height: 75vw;
    padding: 5px;
  }

  .book-card-left {
    width: 100%;
    height: 50vw;
    padding: 5px;
  }

  .book-card-right {
    width: 100%;
    height: 50vw;
    padding: 5px;
  }
}
