div.header {
  max-width: 100%;
  margin: 0 18px;
}

.footerLinks {
  max-height: 80px;
}

.fullHeight {
  height: 581px;
  background-color: #e5e5e5;
  text-align: center;
  align-content: center;
  background-size: cover;
}

.standardDiv {
  height: 480px;
  background-color: #eae8ee;
  text-align: center;
  align-content: center;
}

.title {
  font-size: 100px;
  font-weight: bold;
  line-height: 117px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #525252;
  overflow-wrap: break-word;
}

.subtitle {
  font-family: Spectral;
  font-style: italic;
  font-weight: 500;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #525252;
}

.icons {
  padding: 0 !important;
}

.continuousTitle {
  margin-top: -50px !important;
  font-family: Spectral;
  font-style: normal;
  font-weight: 300;
  font-size: 130px;
  line-height: 198px;
  letter-spacing: 0.05em;
  color: rgba(127, 57, 156, 0.71);
}

.continuousSubtitle {
  margin-bottom: -100px;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 125px;
  letter-spacing: 0.1em;
  color: #5090dc;
}

@media only screen and (max-width: 767px) {
  .standardDiv {
    justify-content: start;
    height: 960px;
    background-color: #eae8ee;
    text-align: center;
    align-content: center;
  }
}
