@font-face {
  font-family: 'Mukta-ExtraBold';
  src: local('Mukta-ExtraBold'), url(./fonts/Mukta-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Mukta-ExtraLight';
  src: local('Mukta-ExtraLight'), url(./fonts/Mukta-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Spectral-Italic';
  src: local('Spectral-Italic'), url(./fonts/SPECTRAL-ITALIC.TTF) format('truetype');
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #381347;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-link {
  margin: 0 7px;
  color: #381347 !important;
}

.nav-link:hover {
  color: #38134799 !important;
}

.nav-link.active {
  color: #38134799 !important;
}
