@font-face {
  font-family: "Mukta-ExtraBold";
  src: local("Mukta-ExtraBold"), url(./fonts/Mukta-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Mukta-ExtraLight";
  src: local("Mukta-ExtraLight"), url(./fonts/Mukta-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Spectral-Italic";
  src: local("Spectral-Italic"), url(./fonts/SPECTRAL-ITALIC.TTF) format("truetype");
}

@font-face {
  font-family: "Spectral-Regular";
  src: local("Spectral-Regular"), url(./fonts/SPECTRAL-REGULAR.TTF) format("truetype");
}

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #381347;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nav-link {
  margin: 0 7px;
  color: #381347 !important;
}

.nav-link:hover {
  color: #38134799 !important;
}

.nav-link.active {
  color: #38134799 !important;
}

.btn-secondary {
  border-width: 0;
  border-radius: 0;
  color: #463950;
  background-color: #ffffff;
  font-family: "Spectral-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.15em;
  text-align: start;
  width: 25vh;
  height: 50px;
  margin: 0 0 7px 7px;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  color: #463950;
  background-color: #ffffff;
  outline: none;
  box-shadow: none !important;
}

.btn-success {
  border-width: 0;
  border-radius: 0;
  background: rgba(70, 57, 80, 0.3);
  margin: 0 7px 7px 0;
}

.btn-success:hover {
  background-color: #381347 !important;
}

button:visited,
button:focus {
  outline: none;
  box-shadow: none !important;
  background-color: none !important;
}

button:active {
  outline: none;
  box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

input {
  color: #463950;
  background-color: #ffffff;
  border-width: 0 !important;
  border-radius: 0 !important;
  height: 50px;
  margin: 7px;
  font-family: Spectral;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 0.15em;
}

.form-control {
  float: left;
}